@using NinaSpeakV2.Api.Utils
@using NinaSpeakV2.Domain.Models
@using NinaSpeakV2.Domain.ViewModels.Institutions
@using NinaSpeakV2.Domain.ViewModels.UsersInstitutions
@model CreateUserInstitutionViewModel

@{
    ViewData["Title"] = "Create";
    var institution = (@ViewData[Constant.ViewDataInstitution] as ReadInstitutionViewModel)!;
}

<h1 class="text-center my-4">Ingresse em <i>@institution.Name</i></h1>

@Html.Partial(Constant.PartialViewNameBaseErrors, ViewData[Constant.ViewDataBaseErrors] as IEnumerable<BaseError>)

<div class="container">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <div class="row">
                <!-- Login Form -->
                <div class="col-4">
                    <h3 class="text-center">Entrar</h3>
                    <form asp-action="CreateUI" asp-controller="UserInstitution" method="post">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="UserEmail" class="form-label">Email</label>
                            <input type="email" asp-for="UserEmail" class="form-control" placeholder="Digite seu email" />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UserPassword" class="form-label">Senha</label>
                            <input type="password" asp-for="UserPassword" class="form-control" placeholder="Digite sua senha" />
                            <span asp-validation-for="UserPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <input type="hidden" asp-for="InstitutionFk" value="@institution.Id" />
                            <input type="hidden" asp-for="InstitutionCode" value="@institution.Code" />
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </form>
                </div>
                <!-- Vertical Divider -->
                <div class="col-md-1 d-flex align-items-center justify-content-center">
                    <div class="vr" style="height: 100%; width: 2px; background-color: #dee2e6;"></div>
                </div>
                <!-- Registration Form -->
                <div class="col-4">
                    <h3 class="text-center">Criar Conta</h3>
                    <form asp-action="CreateNew" asp-controller="UserInstitution" method="post">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="UserEmail" class="form-label">Email</label>
                            <input type="email" asp-for="UserEmail" class="form-control" placeholder="Digite seu email" />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UserPassword" class="form-label">Senha</label>
                            <input type="password" asp-for="UserPassword" class="form-control" placeholder="Digite sua senha" />
                            <span asp-validation-for="UserPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UserConfirmPassword" class="form-label">Confirmar Senha</label>
                            <input type="password" asp-for="UserConfirmPassword" class="form-control" placeholder="Confirme sua senha" />
                            <span asp-validation-for="UserConfirmPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <input type="hidden" asp-for="InstitutionFk" value="@institution.Id" />
                            <input type="hidden" asp-for="InstitutionCode" value="@institution.Code" />
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Criar</button>
                        </div>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
