@using NinaSpeakV2.Api.Utils
@using NinaSpeakV2.Domain.ViewModels.Institutions
@model ReadInstitutionViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Detalhes da Instituição</h1>

<div class="card mb-4">
    <div class="card-header">
        <h4>Instituição: @Model.Name</h4>
    </div>
    <div class="card-body">
        @* <div class="row mb-3">
        <div class="col-sm-2">
        <strong>Instituição:</strong>
        </div>
        <div class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
        </div>
        </div> *@
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>Descrição:</strong>
            </div>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        @* <div class="row mb-3">
        <div class="col-sm-2">
        <strong>Imagem:</strong>
        </div>
        <div class="col-sm-10">
        <img src="@Model.Image" alt="Imagem da Instituição" class="img-fluid" />
        </div>
        </div> *@
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>N° Membros:</strong>
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.QtyMembers)
            </div>
        </div>
        @if (Model.Name is not Constant.InstitutionStandardName)
        {
            <div class="row mb-3">
                <div class="col-sm-2">
                    <strong>Membros:</strong>
                </div>
                <div class="col-sm-10">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var member in Model.Members)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => member.Email)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
