@using NinaSpeakV2.Domain.ViewModels.UsersInstitutions
@model IEnumerable<ReadUserInstitutionViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-group {
        display: flex;
        gap: 0.5rem;
    }
</style>

<div class="container">
    <h2 class="my-4">Suas Instituições</h2>
    <a asp-action="Create" class="btn btn-primary mb-3">Criar nova</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.Label("Instituição")
                </th>
                <th>
                    @Html.Label("Imagem")
                </th>
                <th>
                    @Html.Label("Proprietárioª")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userInstitution in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => userInstitution.InstitutionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => userInstitution.InstitutionImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => userInstitution.Owner)
                    </td>
                    @if (userInstitution.Creator)
                    {
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@userInstitution.InstitutionFk" class="btn btn-sm btn-info" aria-label="Editar"><i class="fas fa-edit"></i> Editar</a>
                                <a asp-action="Details" asp-route-id="@userInstitution.InstitutionFk" class="btn btn-sm btn-secondary" aria-label="Detalhes"><i class="fas fa-info-circle"></i> Detalhes</a>
                                <a asp-action="Delete" asp-route-id="@userInstitution.InstitutionFk" class="btn btn-sm btn-danger" aria-label="Deletar"><i class="fas fa-trash-alt"></i> Deletar</a>
                            </div>
                        </td>
                    }
                    else if (userInstitution.Owner)
                    {
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@userInstitution.InstitutionFk" class="btn btn-sm btn-info" aria-label="Editar"><i class="fas fa-edit"></i> Editar</a>
                                <a asp-action="Details" asp-route-id="@userInstitution.InstitutionFk" class="btn btn-sm btn-secondary" aria-label="Detalhes"><i class="fas fa-info-circle"></i> Detalhes</a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="btn-group">
                                <a asp-action="Details" asp-route-id="@userInstitution.InstitutionFk" class="btn btn-sm btn-secondary" aria-label="Detalhes"><i class="fas fa-info-circle"></i> Detalhes</a>
                            </div>
                        </td>                        
                    }
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Index" class="btn btn-link">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}