@using NinaSpeakV2.Domain.ViewModels.Institutions
@model IEnumerable<ReadInstitutionViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>    
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-group {
        display: flex;
        gap: 0.5rem;
    }
</style>

<div class="container">
    <h2 class="my-4">Suas Instituições</h2>
    <a asp-action="Create" class="btn btn-primary mb-3">Criar nova</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.Label("Nome")
                </th>
                @* <th>
                    @Html.Label("Descrição")
                </th> *@
                @* <th>
                    @Html.Label("Descrição") Quantidade de membros
                </th> *@
                <th>
                    @Html.Label("Imagem")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>    
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info" aria-label="Editar"><i class="fas fa-edit"></i> Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary" aria-label="Detalhes"><i class="fas fa-info-circle"></i> Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" aria-label="Deletar"><i class="fas fa-trash-alt"></i> Deletar</a>
                        </div>
                    </td>
                </tr>
            }            
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Index" class="btn-link">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}