@using NinaSpeakV2.Domain.ViewModels.ChatBotConversations
@model ReadChatBotConversationViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<div>
    <h4>ChatBot Conversação</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChatBotName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChatBotName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Response)
        </dd>        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a> 
        @* <a asp-controller="ChatBotConversation" asp-action="Details" asp-route-id="@Model.Id">Voltar</a> *@
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}