@using NinaSpeakV2.Domain.ViewModels.ChatBotConversations
@model ReadChatBotConversationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>ChatBot Conversações</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChatBotName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChatBotName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Response)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
    @* <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> | *@
    @* <a asp-action="Delete" asp-route-id="@Model.Id">Deletar</a> | *@
    @* <a asp-controller="Home" asp-action="Index">Voltar</a> *@
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}